:root {
  --color-white: #fffffc;
  --color-pink: #d499b9;
  --color-purpple: #9055a2;
  --color-dark_purpple: #2e294e;
  --color-dark: #011638;
  --font-size--xl: 30px;
  --font-size--lg: 22px;
  --font-size--sm: 18px;
  --font-size--xs: 10px;
}
