:root {
  --color-pink: #d499b9;
  --color-purpple: #9055a2;
  --color-dark_purpple: #2e294e;
  --color-dark: #011638;
  --font-size--xl: 50px;
  --font-size--lg: 30px;
  --font-size--sm: 20px;
  --font-size--xs: 10px;
}
